<html>
    <head>
        <title>CSBox blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 09.06.2017, 10:35</p>
            <h2><a href="">My first post</a></h2>
            <p>DjangoGirls를 이용한 블로그를 테스트중에 있습니다.
			   파이팅해주세요.</p>
        </div>

        <div>
            <p>published: 09.06.2017, 10:35</p>
            <h2><a href="">My second post</a></h2>
            <p>아직 미정입니다.</p>
        </div>
    </body>
</html>
